{% extends "base.html" %}

{% block html_read %}
<p style="margin: 20px;">Add the car you need:
<form action="add_car_ui" method="post" enctype="multipart/form-data" style="margin: 20px;">
    <table>
        <tr>
            <td><label for="doors">Number of doors:</label></td>
            <td><input type="number" min="2" max="8" name="doors" required></td>
        </tr>
        <tr>
            <td><label for="name">Name of the car:</label></td>
            <td><input type="text" name="name" required></td>
        </tr>
        <tr>
            <td><label for="size">Size:</label></td>
            <td><select name="size">
                <option value="s">Small</option>
                <option value="m">Medium</option>
                <option value="l">Large</option>
            </select>
            </td>
        </tr>
        <label>Upload Photo</label>
        <input type="file" name="file" class="form-control">
        <tr>
            <td><input type="text" name="username" value="{{ current_user }}" required hidden></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-info";>Add</button>
</form>



{% if car %}
<p style="margin: 20px;"> New Car has been added:</p>
<p style="margin: 20px;"> Name: <b>"{{ car.name }}"</b> Doors:<b>"{{ car.doors }}"</b> Fuel:</b>"{{ car.fuel }}"</b> Size: <b>"{{ car.size }}"</b></p>
{% endif  %}

{% endblock %}
<!-- <p style="margin: 20px;">We found the following matching cars:</p>
<ul>
    {% if cars %}
    {% for car in cars %}
    <li>
        {{car}}
    </li>
    {% endfor %}
    {% else %}
    <li>
       No cars with these parameters found
    </li>
    {% endif  %}
</ul> -->
