{% extends "base.html" %}

{% block html_read %}

<style>
  .card-img-top {
      width: 100%;
      height: 15vw;
      object-fit: cover;
  }

  .card{
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
}

  </style>

<div> Car Details</div>
<div class="row">
    <div class="card-group col-12" id="mycard">
      <div class="col-lg-auto">
      <div class="card" style="width: 30rem;">
          <div class="card-body">
          <h5 class="card-title">{{car.name}}</h5>
          <p class="card-text">Doors: {{ car.doors }} id: {{ car.id }} Size: {{ car.size }}</p>
          <input type="number" name="id" value="{{ car.id }}" hidden>
          {% if car.images%}
          <img class="card-img-top" src="{{ request.base_url }}{{ car.images[0].image_path }}">
          {% endif %}
        </div>
        <div>
          <a class="btn btn-primary mt-auto align-self-start" data-toggle="modal" data-target="#EditCar" id="myModal" style="margin: 15px;; text-align:center; display:block;">Edit</a>
        <a class="btn btn-primary" data-toggle="modal" data-target="#addPhoto" id="myModal" style="margin:15px; text-align:center; display:block;">Add Photo</a>
        <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" id="myModal" style="margin:15px; text-align:center; display:block;">Delete</a>
      </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please confirm.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              You're about to delete <b>{{car.name}} </b>. Are you sure?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="delete_car" method="post" style="margin: 20px;">
                  <input type="number" name="id" value="{{ car.id }}" required hidden>
                  <button type="submit" class="btn btn-danger">Delete</button>
              </form>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
  </div>
    </div>
    </div>
    </div>
    {%  if message  %}
    <p> <b> {{  message  }} </b></p>
    {%  endif %}
    <div class="modal fade" id="EditCar" tabindex="-1" role="dialog" aria-labelledby="EditCarlLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editCarLabel">Edit car</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="update_car" method="post" enctype="multipart/form-data" data-toggle="validator" id="newModalForm">
               <input type="number" name="id" value="{{ car.id }}" required hidden>
              <div class="form-group">
                <label for="name" class="col-form-label">Name:</label>
                <input type="text" name="name">
              </div>
              <div class="form-group">
                <label for="doors" class="col-form-label">Doors:</label>
                <input type="number" min="2" max="8" name="doors">
              </div>
            <div class="form-group">
                <label for="size" class="col-form-label">Size:</label>
                <select name="size">
                    <option value="s">Small</option>
                    <option value="m">Medium</option>
                    <option value="l">Large</option>
                </select>
              </div>
              <input type="text" name="username" value="{{ current_user }}" required hidden>
              <button type="submit" class="btn btn-primary">Edit</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </form>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div> -->
        </div>
      </div>
    </div>

  <div class="modal fade" id="addPhoto" tabindex="-1" role="dialog" aria-labelledby="addPhotolLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addPhotoLabel">Add new photo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="add_photo" method="post" enctype="multipart/form-data" data-toggle="validator" id="newModalForm">
              <div class="form-group" form-group-file>
                <label for="file" class="col-form-label">Upload Photo:</label>
                <input type="file" id="file" name="file" class="form-control" data-filesize="1000000" data-filesize-error="File must be smaller then 1MB" accept="image/*" required/>
                <div class="invalid-feedback">Example invalid form file feedback</div>
                <div class="help-block with-errors">
              </div>
              <input type="text" name="username" value="{{ current_user }}" required hidden>
              <input type="number" name="id" value="{{ car.id }}" required hidden>
              <input type="text" name="name" value="{{ car.name }}" required hidden>
              <button type="submit" class="btn btn-primary">Add</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </form>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>

{% if car.images[1:]  %}
<h3 style="margin:15px"> Car Photos</h3>
  <div class="row">
  <div class="card-group col-12" id="mycard">
     {% for image in car.images[1:] %}
    <div class="col-lg-auto">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <p class="card-text">Name: {{ image.name }} ID: {{ image.id }}</p>
        <input type="number" name="id" value="{{ car.id }}" hidden>
        <img class="card-img-top" src="{{ request.base_url }}{{ image.image_path }}">
      </div>
      <a class="btn btn-primary mt-auto align-self-start" data-toggle="modal" data-target='#modal{{ image.id }}' id="PhotoModal" style="margin:auto; text-align:center; display:block;">Delete</a>
      <div class="modal fade" id="modal{{ image.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Please confirm.</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            You're about to delete <b>Image:{{image.name}} ID: {{ image.id }}</b>. Are you sure?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <form action="delete_image" method="post" style="margin: 20px;">
                <input type="number" name="id" value="{{ image.id }}" required hidden>
                <input type="number" name="car_id" value="{{ car.id }}" required hidden>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
</div>
    {% endfor %}
  </div>
  </div>
  {% endif %}

{% endblock %}