{% extends "base.html" %}

{% block html_read %}
<!-- https://stackoverflow.com/questions/71221076/how-i-can-filter-my-cards-with-searchbox-bootstrap-5-and-javascript -->
<!-- https://getbootstrap.com/docs/4.0/components/modal/ -->
<!-- https://stackoverflow.com/questions/39488774/how-to-use-bootstrap-validator-to-validate-file-size-and-file-type -->
<style>
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card{
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
</style>

    <div class="container">
      <div class="row pt-2">
        <div class="col-12">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCar">Add</button>
          <input class="form-control" id="filter" type="text" placeholder="Search fo car..">
        </div>
      </div>
<br/>
{%  if message  %}
  <p> <b> {{  message  }} </b></p>
{%  endif %}
<div class="row">
  <div class="card-group col-12" id="mycard">
    {% for car in cars %}
    <div class="col-lg-auto">
    <div class="card" style="width: 18rem;">
        <div onclick="location.href='{{ url_for('car_details', id=car.id) }}';" value="car_details" class="card-body" style="cursor: pointer">
        <h5 class="card-title">{{car.name}}</h5>
        <p class="card-text">Doors: {{ car.doors }} id: {{ car.id }}</p>
        <input type="number" name="id" value="{{ car.id }}" hidden>
        {% if car.images%}
        <img class="card-img-top" src="{{ request.base_url }}{{ car.images[0].image_path }}">
        {% endif %}
      </div>
      <br/>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
</div>
    {% endfor %}
  </div>
  </div>

  <div class="modal fade" id="addCar" tabindex="-1" role="dialog" aria-labelledby="addCarlLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCarLabel">Add new car record</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="add_car_ui" method="post" enctype="multipart/form-data" data-toggle="validator" id="newModalForm">
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" required>
            </div>
            <div class="form-group">
              <label for="doors" class="col-form-label">Doors:</label>
              <input type="number" min="2" max="8" name="doors" required>
            </div>
            <div class="form-group" form-group-file>
              <label for="file" class="col-form-label">Upload Photo:</label>
              <input type="file" id="file" name="file" class="form-control" data-filesize="1000000" data-filesize-error="File must be smaller then 1MB" accept="image/*" required/>
              <div class="invalid-feedback">Example invalid form file feedback</div>
              <div class="help-block with-errors">
            </div>
            <div class="form-group">
              <label for="size" class="col-form-label">Size:</label>
              <select name="size">
                  <option value="s">Small</option>
                  <option value="m">Medium</option>
                  <option value="l">Large</option>
              </select>
            </div>
            <input type="text" name="username" value="{{ current_user }}" required hidden>
            <button type="submit" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div> -->
      </div>
    </div>
  </div>


<script>
    $("#filter").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    console.log('value:', value)
    $("#mycard > div").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      console.log( $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1))
    });
  });
 </script>

<script>

// $('#deleteModal').on('hidden.bs.modal', function () {
//     $(this).find('.modal-footer').trigger('reset');
// })
// $('body').on('hidden.bs.modal', '#deleteModal', function () { $(this)();})
// .on('show.bs.modal', '#deleteModal', function() {
//     $(this).add('modal fade');
// })
//  $("#newModalForm").validate({
//     rules: {
//       name: {
//         required: true,
//         minlength: 8
//       },
//       action: "required",
//       file: {
//         required: true,
//         extension: 'jpeg, png',
//         type: 'image/jpeg,image/png',
//         maxSize: 1024,
//         message: 'The selected file is not valid'
//     },
//     action: "required",
//     }
//   });


// $('form[data-toggle="validator"]').validator({
//   custom: {
//     filesize: function ($el) {
//       const file_el = document.querySelector("#file");
//       const file = $el[0].files[0].size
//       console.log('element:', $el[0].files[0].name )
//       console.log('filet_size:', $el[0].files[0].size)
//       console.log('file_el > file ', file_el > file)
//       var maxBytes = file_el.dataset.filesize
//       if ($el[0].files[0].size > maxBytes) {
//         return "File must be smaller than " + maxBytes / 1024 + " kB."
//       }
//     }
//   }
// })
</script>


{% endblock %}


